.conteudo {
    margin: auto;
    color: white;
    text-align: center;
    background-color: black;
    padding: 35px 70px;
    margin-top: 50px;
    border-radius: 8px; /* Tag utilizada para arredondar as bordas do conteúdo da tag especificada*/
}    