.conteudo {
    margin: auto;
    width: 60%; /*Tag utilizada para que o conteudo da tag referenciada ocupe apenas 60% da tela*/
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    height: 33%;
    border-radius: 8px;
    margin-top: 50px;
}

.conteudo h1 {
    margin-bottom: 15px;
    margin-top: 10px;
}