.conteudo {
    margin: auto;
    width: 60%;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    height: 31%;
    border-radius: 8px;
    margin-top: 50px;
}

.conteudo h1 {
    margin-bottom: 15px;
    margin-top: 10px;
}

.conteudo p {
    margin-bottom: 24px;
}

.conteudo a {
    text-decoration: none;
    color: white;
    background-color: rgb(49, 49, 49);
    padding: 8px 13px 10px 13px;
    border-radius: 4px;
    margin: 6px;
    transition: 0.3s ease;
}

.conteudo a:hover {
    background-color:rgb(87, 87, 87);
}