body {
    background-image: url('../img/wallpaper.jpg');
    background-size: cover; /*Tag utilizada para o background do site cobrir toda a tela*/
    font-family: Barlow;
}

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px
}

header div {
    width: 30%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    background-color: rgb(49, 49, 49);
    padding: 8px 15px 10px 15px;
    border-radius: 4px;
    transition: 0.3s ease;
}

header a:hover {
    background-color:rgb(87, 87, 87);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}
